.parent {
  display: flex;
  justify-content: center; /* Horizontal centering */
}

.logo {
  max-width: 75%;
  max-height: 75%;
}

p {
  font-size: 25;
  line-height: 1.1;
  margin-top: 0px;
  margin-bottom: 0px;
}

p.small {
  font-size: 10px;
}

.text1 {
  font-family: cursive;
  color: blue;
}

.menu-pic {
  width: 75px;
  height: 75px;
  border-radius: 10%;
  margin-left: 0; /* Forces the image to align left */
}

.menu-title {
  font-weight: bold;
  line-height: 1.5;
}

.add-button {
  border-radius: 12px;
  border: none;
  font-size: 10px;
}
  
